<!DOCTYPE html>
<html lang="ja" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Random15 - Shunsuke &amp; Chihiro Wedding -</title>
    <link rel="stylesheet" type="text/css" href="asset/reset.css">
    <link rel="stylesheet" type="text/css" href="asset/style.css">
    <script src="bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="asset/script.js" type="text/javascript" charset="utf-8"></script>
</head>
<body ng-controller="randomController">
    <div class="start" ng-if="start">
        <img src="asset/S__21602315.jpg" ng-click="onStart()" />
        <p>『さあ、幸運な15人を発表するよ。』</p>
    </div>

    <div class="loadingText" ng-if="loading">抽選中...</div>

    <div class="random" ng-if="!start">
        <p ng-repeat="image in images">
            <span ng-bind="image.title" ng-show="image.visible"></span>
            <img ng-src="contest/Random15/{{image.src}}" ng-show="image.visible" />
        </p>
    </div>
</body>
</html>